<%= form_for(@econavigate) do |f| %>
  <% if @econavigate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@econavigate.errors.count, "error") %> prohibited this econavigate from being saved:</h2>

      <ul>
      <% @econavigate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
