<h1>Listing econavigates</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @econavigates.each do |econavigate| %>
  <tr>
    <td><%= link_to 'Show', econavigate %></td>
    <td><%= link_to 'Edit', edit_econavigate_path(econavigate) %></td>
    <td><%= link_to 'Destroy', econavigate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Econavigate', new_econavigate_path %>
