<span><%= link_to 'Login', new_session_path %></span> <span id="clear"><%= submit_tag 'Clear Tags' %></span>
<% if admin? == true then %>
  <div>
	<span><%= link_to "Hashtags", hashtags_path %></span> | <span><%= link_to "Logout", logout_path %></span>
  </div>
<% end %>

<script>
$("span#clear").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.
									    $("div#tweets11").hide('fast', function() {
										   // Animation complete.
													    $("div#tweets12").hide('fast', function() {
														   // Animation complete.
													});
						});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>