<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
<% @tweets11.each do |tweet| %>
  <tr>
	<td>~</td>
	<td id="clickme">#<a href="http://twitter.com/#!/search/%23<%= tweet.label %>" target="new"><%= tweet.label %></a></td>
    <td><%= tweet.tweet %></td>
  </tr>
<% end %>
</table>
<hr>


<script>
$("span#eleven").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").show('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>
