<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
<!--<div>Tweets4</div>-->
<% @tweets4.each do |tweet| %>
  <tr>
	<td>~</td>
	<td id="clickme">#<a href="http://twitter.com/#!/search/<%= tweet.label %>" target="new"><%= tweet.label %></a></td>
    <td><%= tweet.tweet %></td>
  </tr>
<% end %>
</table>
<hr>