<table>
  <tr>
    <th></th>
    <th></th>


  </tr>
<% if current_user %>
  <p class='text-green'><font face="arial">test</font></p>
<% else %>
  <p class='text-red'><font face="arial" size="6" color="#808080">social fit-out </font><font face="arial" color="#808080" size="1"><u>netgreenbuilding</u></font></br>
	<!--<%= link_to (image_tag 'IMG_1721.JPG', :height => '100', :width => '100', :class => "header_image") %>-->
	<a href="http://arkhisocial.wordpress.com/2012/04/17/contact/" target="blank"><font face="arial">contact 17 April 2012 wordpress</a></br>
	<font face="arial" color="#ffffff">Signup to view comments</font>
	</p>
<% end %>
<% @tweets1.each do |tweet| %>
  <tr>
	<td>~</td>
	<td id="clickme">#<a href="http://twitter.com/#!/search/realtime/%23<%= tweet.label %>" target="new"><%= tweet.label %></a></td>
    <td><%= tweet.tweet %></td>
  </tr>
<% end %>
</table>
<hr>


<script>

$("span#one").hover(
  function () {
    $("div#tweets1").show('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").hide('fast', function() {
	    // Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
 	$("div#tweets9").hide('fast', function() {
		// Animation complete.
	$("div#tweets10").hide('fast', function() {
		// Animation complete.
	$("div#tweets11").hide('fast', function() {
		// Animation complete.
	$("div#tweets12").hide('fast', function() {
		// Animation complete.
	});
	});
	});
	});
	});
	});
	});
  	});	
  	});
  	});
  	});
  	});
});
</script>