<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
<% if current_user %>
<p class='text-green'><font face="arial">test</p>
<% else %>
<p class='text-red'><font face="arial" size="6" color="#808080">eco neighborhood </font><font face="arial" color="#808080"><u>netgreenbuilding</u></font></br>
	<a href="http://www.designrealized.com/" target="blank"><font face="arial">http://www.designrealized.com/</a></br>
		<a href="http://www.scps.nyu.edu/areas-of-study/real-estate/professional-certificates/aec-certificates/" target="blank"><font face="arial">http://www.scps.nyu.edu/areas-of-study/real-estate/professional-certificates/aec-certificates/</a></br>
	<font face="arial" color="#ffffff">Signup to view comments</font></p>
<% end %>
<% @tweets6.each do |tweet| %>
  <tr>
	<td>~</td>
	<td id="clickme">#<a href="http://twitter.com/#!/search/realtime/%23<%= tweet.label %>" target="new"><%= tweet.label %></a></td>
    <td><%= tweet.tweet %></td>
  </tr>
<% end %>
</table>
<hr>



<script>
$("span#six").hover(
  function () {
    $("div#tweets1").hide('fast', function() {
	    // Animation complete.
	$("div#tweets2").hide('fast', function() {
		// Animation complete.
	$("div#tweets3").hide('fast', function() {
		// Animation complete.
	$("div#tweets4").hide('fast', function() {
		// Animation complete.
	$("div#tweets5").hide('fast', function() {
		// Animation complete.
	$("div#tweets6").show('fast', function() {
		// Animation complete.
    $("div#tweets7").hide('fast', function() {
	   // Animation complete.
    $("div#tweets8").hide('fast', function() {
	   // Animation complete.	
		    $("div#tweets9").hide('fast', function() {
			   // Animation complete.
				    $("div#tweets10").hide('fast', function() {
					   // Animation complete.	
								    $("div#tweets11").hide('fast', function() {
									   // Animation complete.
												    $("div#tweets12").hide('fast', function() {
													   // Animation complete.
												});
					});
				});
		});
	});
	});
  	});
  	});				
  	});
  	});
  	});
	});
});
</script>
