<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
<div>Tweets1</div>
<% @tweets1.each do |tweet| %>
  <tr>
	<td>~</td>
	<td id="clickme">#<%= tweet.label %>
    <td><%= tweet.tweet %></td>
  </tr>
<% end %>
</table>
<hr>

