<%= form_tag(update_tweets_path) do -%>
  <div><%= submit_tag 'Update Tweets' %></div>
<% end -%>

<h1>infravironment</h1>
<div>Building Life Cycle Site</div>
<hr>
<table>
  <tr>
    <th></th>
  </tr>
<% @tweets.each do |tweet| %>
  <tr>
	<td>~</td>
    <td><%= tweet.tweet %></td>
  </tr>
<% end %>
</table>