<div id='creds'><%= render :partial => 'home/creds' %></div>
<div id="wrapper">

<p><font face="arial" size="5" color="000000"><a style="text-decoration:none;position:absolute;top:50px;left:50px" href="http://www.visualcv.com/users/109575-edownie/cvs/174451">resume</a></font></p>
<br/>
<br/>
<br/>

<p style="position:absolute;left:30px;top:100px"><font face="arial" size="5">green performance</font></p>
<p style="position:absolute;left:30px;top:140px"><font face="arial" size="5">green perspective</font></p>
<p style="position:absolute;left:30px;top:180px"><font face="arial" size="5">green efficiency</font></p>
<p style="position:absolute;left:30px;top:220px"><font face="arial" size="5">green intelligent facilities</font></p>
<p style="position:absolute;left:30px;top:260px"><font face="arial" size="5">green regions</font></p>
<p style="position:absolute;left:30px;top:300px"><font face="arial" size="5">green neighborhood</font></p>
<p style="position:absolute;left:30px;top:340px"><font face="arial" size="5">green disciplines</font></p>
<p style="position:absolute;left:30px;top:380px"><font face="arial" size="5">green capital projects</font></p>
<p style="position:absolute;left:30px;top:420px"><font face="arial" size="5">green remodel</font></p>
<p style="position:absolute;left:30px;top:460px"><font face="arial" size="5">green practice</font></p>
<p style="position:absolute;left:30px;top:500px"><font face="arial" size="5">green preservation</font></p>
<p style="position:absolute;left:30px;top:540px"><font face="arial" size="5">green operation</font></p>
<p style="position:absolute;left:30px;top:580px"><font face="arial" size="5">green technology</font></p>



	<p style="position:absolute;top:650px;left:30px"><font face="arial" size="1">Disclaimer: Use </br> constitutes acceptance that </br> the owner of this site cannot </br> guarantee and shall under </br> no circumstances be held </br> responsible for the local </br> recombination of any request, </br> cache, password, readout, </br> email, policy, input, </br> file, identity, service, </br> download, agreement, tracking, </br> session, product, logon, </br> or chat that is </br> transmitted in packets.</font></p>
    <p style="position:absolute;left:30px;top:1100px"><font face="arial" size="1">C Eric D. 2011</font></p>

