<header class="mobile_header">

<h1>infravironment</h1>
</header>
<aside class="remoduvate">
	<div data-role="fieldcontain">
		<label for="textarea">autocomplete</label>
		<textarea cols="40" rows="20" name="textarea" id="textarea"></textarea>
	</div>
<h3><a href="https://twitter.com/remoduvate/" data-role="button" data-icon="">architecture</a></h3>
<h3>__________hire an #architect
</aside>