#wrapper {  
    width: 600px;  
}  
  
  
#header {  
    background: #cdcdcd;  
}  
  
#sidebar {  
    float: left;  
    width: 180px;  
    background: #ccc;  
    margin: 10px;  
}  
  
#content {  
    float: left;  
    width: 400px;  
}