a:visited {
color:#000000;
}

a {
color:#000000;
}

#wrapper {  
    width: 1000px;  
}  
  
#pagination {  
    top: 100px;  
}  

  
#header {  
    background: #cdcdcd;  
	border-style:solid;
	padding-bottom:1em;
	z-index:-5;
}  

.r1 {  
    background: #cdcdcd;  
    float: left;  
    width: 100px;  
	height:30px;
    background: #808080;
}  

.r2 {  
    background: #cdcdcd;  
    float: right;  
    width: 100px;  
	height:30px;
    background: #808080;
}

#sidebar {  
    float: left;  
    width: 150px;  
    background: #ccc;  
    margin-left: 25px;  
    margin-right: 25px;  
    font-size:30px;
    text-align:center;
}  
#content {  
    float: left;  
    width: 500px;  
}

#creds {
	float: center;
	padding-right:5px;
}

p.text-green {
	text-align:center;
	padding:20px;
	background:#99FFCC;
	border-style:solid;
	font-weight:bold;
}

p.text-red {
	text-align:center;
	padding:10px;
	background:#ccc;
	border-style:solid;
	font-weight:bold;
}
