.mobile_header {
	float: center;
	text-align: center;
	padding:.5em;
	margin:1em;
	text-shadow: black 0.2em 0.2em 0.2em;
	color:white;
	background-color: #565A5B;
	font-size:40px;
	border: 10px solid gray;
}

.mobile_tweets {
	padding-top:1em;
	float: center;
	text-align: center;
	padding-right:1em;
	font-size:50px;
	color: #404040;
}

.remoduvate {
	text-align: center;
	font-size:50px;
	text-shadow: black 0.1em 0.1em 0.2em;
	color: black;
}

.remodivate a.visited {
color: black;
}
#.emodivate a.link {
color: black;
}
footer {
	text-align:center;
}