.mobile_header {
	float: center;
	text-align: center;
	padding-right:1em;
	text-shadow: #DDD 10px 10px 2px;
	font-size:50px;
	border: 10px solid gray;
}

.mobile_tweets {
	padding-top:1em;
	float: center;
	text-align: center;
	padding-right:1em;
	font-size:50px;
}

footer {
	text-align:center;
}